<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http:www.idpf.org/2007/ops">
	<head>
		<title>A Rewarding Conclusion</title>
		<link rel="stylesheet" href="styles/ebook.css" type="text/css"/>
		<script src="scripts/ebook.js" type="text/javascript"></script>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div>
			<h1>A Rewarding Conclusion</h1>
		</div>
		<div>
			<p>It is a publisher's job to "make public" the work of talented authors and artists. It's rewarding work. In joining this project with your pledge, you become a publisher too. You are making public a free tool that we believe will be the genesis for a tremendous flowering of creativity in digital book publishing. You're not making just one book possible, but thousands.</p>
			<p>We welcome you to book publishing, and we thank you for being here. For your pledge, we have a number of fantastic rewards to offer. From stickers and bookmarks, to e-books, video seminars, workshops and more. We hope you'll find the amount and reward that fits for you. And for every pledge, we'll be proud to list your name on a part of site we'll certainly be most proud of, the "People's E-Book Is People Funded" page. Thank you.</p>
			<div>
				<img alt="peoples_e_kickstarterimage_5" src="assets/peoples_e_kickstarterimage_5.jpg" width="620" height="253" />
				<p>Sticker, bookmark, button and 16-page source booklet for the $10 PEOPLE'S CHOICE and $25 SUPPORTER'S CHOICE pledge levels.</p>
			</div>
			<div>
				<img alt="peoples_e_kickstarterimage_6" src="assets/peoples_e_kickstarterimage_6.jpg" width="620" height="283" />
				<p>At the $100 READER level, choose any 5 Hol e-books (full list at www.holartbooks.com/e) and a matching E-Book Shelf Surrogate print of 1. Cut and fold the print into a lifelike paperback book and bookmark for your shelves. No one will be the wiser!</p>
			</div>
			<p>And don't miss the rare opportunity to join a small group of us in an online workshop on making e-books at the MAKER level. Even better, be one of the first ones in the door and get individual feedback and help with your own publishing projects as you help us build ours at the COLLABORATOR level. A great investment for individual artists and small presses alike. See you there!</p>
			<p><strong>Follow us on Twitter at <a href="http://www.twitter.com/peoples_e">@peoples_e</a> or online at <a href="http://thepeoplesebook.net/">thepeoplesebook.net</a> for the latest updates</strong></p>
		</div>
	</body>
</html>
<!-- Created with The People's E-Book at http://thepeoplesebook.net -->		















