<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http:www.idpf.org/2007/ops">
	<head>
		<title>How We E-Book</title>
		<link rel="stylesheet" href="styles/ebook.css" type="text/css"/>
		<script src="scripts/ebook.js" type="text/javascript"></script>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div>
			<h1>How We E-Book</h1>
		</div>
		<div>
			<p>The People’s E-book is a super-simple online tool with an intuitive visual interface to allow anyone to make e-books quickly and for free. This is barebones e-book publishing. What the photocopier was to zines, we hope The People’s E-book will be to digital books.</p>
			<div>
				<img alt="peoples_e_kickstarterimage_2" src="assets/peoples_e_kickstarterimage_2.png" width="540" height="367" />
				<p>Create an e-book in minutes, not hours — The People's E-Book requires only a bare minimum of content to output an e-book, while still encouraging advanced programming and creative hacking.</p>
			</div>	
			<div>
				<img alt="peoples_e_kickstarterimage_3" src="assets/peoples_e_kickstarterimage_3.png" width="540" height="367" />
				<p>See your book as you create it — The People's E-Book features a unique visual editor and intuitive what-you-see-is-what-you-get (WYSIWYG) and drag-and-drop controls.</p>
			</div>	
			<div>
				<img alt="peoples_e_kickstarterimage_4" src="assets/peoples_e_kickstarterimage_4.png" width="540" height="367" />
				<p>Work in the most open and widely used e-book format on the market — The People's E-Book uses the HTML-based .epub format developed and maintained by members of the International Digital Publishing Forum, and adopted by major e-book companies everywhere.</p>
			</div>
			<p>We're confident that The People's E-Book is a great idea, but to make it into a great <em>tool</em>, we're asking for your help to build it.</p>	
		</div>
	</body>
</html>
<!-- Created with The People's E-Book at http://thepeoplesebook.net -->		